.div {
  display: inline-grid;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: pink;

}
h4 {
  margin: 0;
  display: inline-block;
  line-height: normal;
  margin-top: 30px;
}
